# Discord settings:

bot_token: 
client_id: 1438178894850166904
status_message: 

max_text: 100000
max_images: 5
max_messages: 25

use_plain_responses: false
allow_dms: false

permissions:
  users:
    admin_ids: [1438178894850166904]
    allowed_ids: []
    blocked_ids: []

  roles:
    allowed_ids: []
    blocked_ids: []

  channels:
    allowed_ids: []
    blocked_ids: []


# LLM settings:

providers:
  # Remote providers:
  azure-openai:
    base_url: https://<resource name>.openai.azure.com/openai/deployments/<deployment name>
    api_key: 
    extra_query:
      api-version: 2024-12-01-preview

  google:
    base_url: https://generativelanguage.googleapis.com/v1beta/openai
    api_key: 

  groq:
    base_url: https://api.groq.com/openai/v1
    api_key: 

  mistral:
    base_url: https://api.mistral.ai/v1
    api_key: 

  openai:
    base_url: https://api.openai.com/v1
    api_key: 

  openrouter:
    base_url: https://openrouter.ai/api/v1
    api_key: 

  x-ai:
    base_url: https://api.x.ai/v1
    api_key: 

  # Local providers:
  lmstudio:
    base_url: http://localhost:1234/v1

  ollama:
    base_url: http://localhost:11434/v1

  vllm:
    base_url: http://localhost:8000/v1

models:
  openrouter/openai/gpt-5-chat:online:

system_prompt: |
  
